fastapi
uvicorn
gunicorn
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
fastapi-mail
firebase-admin
boto3
geoalchemy2
httpx
python-dotenv
razorpay
google-auth
google-auth-httplib2
slowapi
python-json-logger
sentry-sdk[fastapi]
python-multipart
